name: Build and Test
on:
  push:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:12.1.2
        env:
          MARIADB_ROOT_PASSWORD: app
          MARIADB_DATABASE: app
          MARIADB_USER: app
          MARIADB_PASSWORD: app
        ports:
          - 3306:3306
        options: >-
          --health-cmd="healthcheck.sh --connect --innodb_initialized"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests with Maven
        env:
          SPRING_DATASOURCE_URL: jdbc:mariadb://localhost:3306/app
          SPRING_DATASOURCE_USERNAME: app
          SPRING_DATASOURCE_PASSWORD: app
          SPRING_DATASOURCE_DRIVER: org.mariadb.jdbc.Driver
          SPRING_DIALECT: org.hibernate.dialect.MariaDBDialect
          API_URL: http://localhost:8080
          SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
          UPLOADS_FOLDER: /tmp/uploads
        run: ./mvnw clean verify
  build:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: maven

      - name: Build Project
        run: ./mvnw clean compile package -DskipTests
      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: backend-0.0.2.jar
          if-no-files-found: error
          path: target/proyecto-backend-*-SNAPSHOT.jar
  build-docker:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: danilacasito/proyecto-backend:latest