name: Build and Test
on:
  push:
    branches: ["main"]
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:12.1.2
        env:
          MARIADB_ROOT_PASSWORD: app
          MARIADB_DATABASE: app
          MARIADB_USER: app
          MARIADB_PASSWORD: app
        ports:
          - 3306:3306
        options: >-
          --health-cmd="healthcheck.sh --connect --innodb_initialized"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests with Maven
        env:
          SPRING_DATASOURCE_URL: jdbc:mariadb://localhost:3306/app
          SPRING_DATASOURCE_USERNAME: app
          SPRING_DATASOURCE_PASSWORD: app
          SPRING_DATASOURCE_DRIVER: org.mariadb.jdbc.Driver
          SPRING_DIALECT: org.hibernate.dialect.MariaDBDialect
          API_URL: http://localhost:8080
          SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
        run: ./mvnw clean verify